.idea/*
.angular
build
bundle
dist
node_modules
src/**.js
coverage
*.log
*.tsbuildinfo
docs
test-results
playwright-report
example
allure-results
packages/local-peer-cache-discovery/mock_local_storage