.idea/*
.angular
build
bundle
dist
node_modules
src/**.js
coverage
*.log
*.tsbuildinfo
docs
test-results
playwright-report
example
packages/discovery/mock_local_storage
.cursorrules
.giga
.cursor
.DS_Store
CLAUDE.mdpackages/discovery/scratch

# Added by Task Master AI
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific