.idea/*
.angular
build
bundle
dist
node_modules
src/**.js
coverage
*.log
*.tsbuildinfo
docs
test-results
playwright-report
example
packages/discovery/mock_local_storage
.cursorrules
.giga
.cursor
.DS_Store
CLAUDE.mdpackages/discovery/scratch
